
.search-button {
  font-family: Kanit;
  background-color: rgba(96, 96, 96, 0.3);
  color: rgb(96, 96, 96, 1);
  font-weight: bold;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  padding: 6px 20px 6px 20px;
  cursor: pointer;
  margin: 6px 6px 6px 6px;
  vertical-align: middle;
  transition: box-shadow 0s, opacity 0s, padding 0s, margin 0s;
}
.search-button:hover {
  opacity: 0.75;
  color: white;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  padding: 6px 23px 6px 23px;
  margin: 6px 3px 6px 3px;
  transition: box-shadow 0.3s, opacity 0.3s, color 0.3s, padding 0.3s, margin 0.3s;
}
.search-button:active {
  opacity: 0.5;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
  padding: 6px 23px 6px 23px;
  margin: 8px 1px 4px 5px;
  vertical-align: none;
  transition: box-shadow 0s, opacity 0s, padding 0s, margin 0s;
}
